In [1]:
import pandas as pd

# Generating lookup table #

This notebook was used to convert the original raw covid data.csv file into a lookup table.

Load data.csv file (raw covid data):

In [2]:
df_org_data = pd.read_csv('../data/data_raw.csv')

In [3]:
df_org_data.head(3)

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,Algeria,Africa,28.03,1.66,25,1.9,1.83,4044.3,41318142,29,6,2019-12-31,NaN,0.0,0.0
1,Algeria,Africa,28.03,1.66,25,1.9,1.83,4044.3,41318142,29,6,2020-01-01,NaN,0.0,0.0
2,Algeria,Africa,28.03,1.66,25,1.9,1.83,4044.3,41318142,29,6,2020-01-02,NaN,0.0,0.0

In [4]:
df_lookup = df_org_data.copy()

Remove not relevant columns:

In [5]:
df_lookup.drop(['Date','Daily tests', 'Deaths', 'Cases'], axis=1, inplace=True)

Set "Entity" as index and rename to "Country":

In [6]:
df_lookup.set_axis(df_lookup['Entity'], inplace=True)

In [7]:
df_lookup.rename_axis('Country', inplace=True)
df_lookup.drop(['Entity'], axis=1, inplace=True)

Remove all dulpicate country entries, only keep first apperence of each country:

In [8]:
df_lookup = df_lookup[~df_lookup.index.duplicated(keep='first')]

In [9]:
df_lookup.head(5)

,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%)
Country,,,,,,,,,,
Algeria,Africa,28.03,1.66,25,1.90,1.83,4044.30,41318142,29,6
Argentina,South America,-38.42,-63.62,14,5.00,3.91,18933.91,44271041,31,11
Australia,Oceania,-25.27,133.78,22,3.84,3.50,44648.71,24598933,37,16
Austria,Europe,47.52,14.55,8,7.37,5.23,45436.69,8809212,44,19
Bahrain,Asia,25.93,50.64,27,2.00,0.92,43290.70,1492584,32,2

Save dataframe to csv file:

In [10]:
#df_lookup.to_parquet('../data/df_lookup_table.parquet')