In [1]:
import pandas as pd

## Preprocessing dataframe ##

Formating, dataframe
-Legge mye av repeterende data i en egen oppslagstabell?
-Modifisere startdato

In [2]:
df_org_data = pd.read_csv('Data.csv')

In [3]:
df_org_data.head(1)

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,Algeria,Africa,28.03,1.66,25,1.9,1.83,4044.3,41318142,29,6,2019-12-31,NaN,0.0,0.0

In [4]:
df_mod = df_org_data.copy()

In [5]:
df_mod.drop(['Continent', 'Latitude', 'Longitude', 'Average temperature per year', 'Hospital beds per 1000 people', 'Medical doctors per 1000 people', 'GDP/Capita','Population', 'Median age', 'Population aged 65 and over (%)','Daily tests', 'Deaths'], axis=1, inplace=True)

In [6]:
df_mod.head(2)

    Entity        Date  Cases
0  Algeria  2019-12-31    0.0
1  Algeria  2020-01-01    0.0

In [7]:
df_index = pd.date_range(start='3/1/2020', end='09/17/2020')

In [8]:
df_index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10',
               ...
               '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
               '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
               '2020-09-16', '2020-09-17'],
              dtype='datetime64[ns]', length=201, freq='D')

In [9]:
df_empty_index = pd.DataFrame(columns=[], index=df_index)

In [10]:
df_empty_index.head(2)

Empty DataFrame
Columns: []
Index: [2020-03-01 00:00:00, 2020-03-02 00:00:00]

In [11]:
df_mod.set_index('Date', inplace=True)

In [12]:
df_mod.index = pd.to_datetime(df_mod.index)

In [13]:
countries = df_mod['Entity'].unique()

In [14]:
frame={}
for country in countries:
    temp_segment = df_mod[df_mod['Entity'] == country].copy()
    frame.update({country: temp_segment['Cases']})
df_temp = pd.concat(frame, join='outer', axis=1)

In [15]:
df_temp[30:60]

,Algeria,Argentina,Australia,Austria,Bahrain,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-30,0.0,NaN,6.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,4.0,0.0,5.0,NaN,2.0,NaN,NaN
2020-01-31,0.0,NaN,7.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,4.0,0.0,6.0,NaN,5.0,NaN,NaN
2020-02-01,0.0,NaN,9.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,4.0,2.0,7.0,NaN,5.0,NaN,NaN
2020-02-02,0.0,NaN,11.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,5.0,2.0,8.0,NaN,7.0,NaN,NaN
2020-02-03,0.0,NaN,11.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,5.0,2.0,11.0,NaN,8.0,NaN,NaN
2020-02-04,0.0,NaN,11.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,5.0,2.0,11.0,NaN,9.0,NaN,NaN
2020-02-05,0.0,NaN,12.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,11.0,NaN,10.0,NaN,NaN
2020-02-06,0.0,NaN,13.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,12.0,NaN,10.0,NaN,NaN
2020-02-07,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,5.0,4.0,12.0,NaN,12.0,NaN,NaN
2020-02-08,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,7.0,4.0,12.0,NaN,13.0,NaN,NaN
2020-02-09,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,7.0,4.0,12.0,NaN,14.0,NaN,NaN
2020-02-10,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,7.0,8.0,12.0,NaN,14.0,NaN,NaN
2020-02-11,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,8.0,9.0,13.0,NaN,15.0,NaN,NaN
2020-02-12,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,8.0,9.0,13.0,NaN,15.0,NaN,NaN
2020-02-13,0.0,NaN,14.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,8.0,10.0,14.0,NaN,16.0,NaN,NaN
2020-02-14,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,8.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-15,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,8.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-16,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,8.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-17,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,9.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-18,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,9.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-19,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,9.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-20,0.0,NaN,15.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,9.0,10.0,15.0,NaN,16.0,NaN,NaN
2020-02-21,0.0,NaN,17.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,9.0,10.0,16.0,NaN,16.0,NaN,NaN
2020-02-22,0.0,NaN,21.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,11.0,10.0,35.0,NaN,16.0,NaN,NaN
2020-02-23,0.0,NaN,22.0,0.0,0.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,13.0,11.0,35.0,NaN,16.0,NaN,NaN
2020-02-24,0.0,NaN,22.0,0.0,1.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,13.0,11.0,35.0,NaN,16.0,NaN,NaN
2020-02-25,0.0,NaN,22.0,0.0,2.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,13.0,11.0,53.0,NaN,16.0,NaN,NaN
2020-02-26,1.0,NaN,22.0,2.0,23.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,13.0,13.0,53.0,NaN,16.0,NaN,NaN
2020-02-27,1.0,NaN,23.0,2.0,33.0,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,13.0,18.0,59.0,NaN,16.0,NaN,NaN
2020-02-28,1.0,NaN,23.0,5.0,33.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,19.0,22.0,60.0,NaN,16.0,NaN,NaN

In [16]:
df_res = df_empty_index.join(df_temp)

In [17]:
df_res.head(2)

,Algeria,Argentina,Australia,Austria,Bahrain,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
2020-03-01,3.0,NaN,26.0,10.0,41.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,21.0,42.0,69.0,NaN,16.0,NaN,NaN
2020-03-02,3.0,NaN,29.0,14.0,47.0,NaN,1.0,19.0,NaN,NaN,...,NaN,NaN,NaN,21.0,47.0,89.0,NaN,16.0,NaN,NaN

In [18]:
df_res.fillna(0, inplace=True)

In [19]:
df_res.head(5)

,Algeria,Argentina,Australia,Austria,Bahrain,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
2020-03-01,3.0,0.0,26.0,10.0,41.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,21.0,42.0,69.0,0.0,16.0,0.0,0.0
2020-03-02,3.0,0.0,29.0,14.0,47.0,0.0,1.0,19.0,0.0,0.0,...,0.0,0.0,0.0,21.0,47.0,89.0,0.0,16.0,0.0,0.0
2020-03-03,0.0,0.0,33.0,18.0,0.0,0.0,0.0,38.0,0.0,0.0,...,0.0,0.0,0.0,0.0,69.0,103.0,0.0,0.0,0.0,0.0
2020-03-04,5.0,1.0,41.0,24.0,49.0,0.0,4.0,72.0,0.0,0.0,...,0.0,0.0,1.0,27.0,109.0,125.0,0.0,0.0,0.0,0.0
2020-03-05,12.0,0.0,52.0,29.0,52.0,0.0,6.0,125.0,0.0,0.0,...,0.0,0.0,0.0,0.0,164.0,159.0,0.0,0.0,0.0,0.0

In [20]:
df_res.replace(to_replace=0, method='ffill')

,Algeria,Argentina,Australia,Austria,Bahrain,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
2020-03-01,3.0,0.0,26.0,10.0,41.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,21.0,42.0,69.0,0.0,16.0,0.0,0.0
2020-03-02,3.0,0.0,29.0,14.0,47.0,0.0,1.0,19.0,0.0,0.0,...,0.0,0.0,0.0,21.0,47.0,89.0,0.0,16.0,0.0,0.0
2020-03-03,3.0,0.0,33.0,18.0,47.0,0.0,1.0,38.0,0.0,0.0,...,0.0,0.0,0.0,21.0,69.0,103.0,0.0,16.0,0.0,0.0
2020-03-04,5.0,1.0,41.0,24.0,49.0,0.0,4.0,72.0,0.0,0.0,...,0.0,0.0,1.0,27.0,109.0,125.0,0.0,16.0,0.0,0.0
2020-03-05,12.0,1.0,52.0,29.0,52.0,0.0,6.0,125.0,0.0,0.0,...,0.0,0.0,1.0,27.0,164.0,159.0,0.0,16.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-13,48007.0,535690.0,26607.0,32951.0,58839.0,336044.0,73975.0,94900.0,125982.0,17891.0,...,289635.0,4703.0,151859.0,78849.0,365174.0,6486108.0,1780.0,1060.0,13466.0,7508.0
2020-09-14,48254.0,546468.0,26651.0,33335.0,59586.0,337520.0,74173.0,95196.0,126791.0,17918.0,...,291162.0,4799.0,154335.0,79489.0,368504.0,6519979.0,1808.0,1063.0,13539.0,7526.0
2020-09-15,48496.0,555524.0,26692.0,33884.0,60307.0,339332.0,74360.0,96821.0,127619.0,18061.0,...,292878.0,4799.0,156797.0,80266.0,371125.0,6554820.0,1812.0,1063.0,13720.0,7531.0
2020-09-16,48734.0,565432.0,26738.0,34744.0,60965.0,341056.0,74552.0,97719.0,128286.0,18216.0,...,294620.0,5123.0,162660.0,80940.0,374228.0,6606293.0,1827.0,1063.0,13819.0,7576.0
2020-09-17,48966.0,577325.0,26779.0,35448.0,61643.0,342671.0,74763.0,97882.0,128872.0,18390.0,...,296391.0,5266.0,162660.0,81782.0,378219.0,6630891.0,1856.0,1063.0,13887.0,7598.0

In [21]:
df_res.to_csv('covid_cases_ver_1.csv')

Removing and interpolation of nan/zero values

Data transformation