In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../common/covid_cases_ver_2.parquet')

In [3]:
df.head(2)

,Algeria,Argentina,Australia,Austria,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,Canada,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
2020-03-01,3.0,0.0,26.0,10.0,0.0,1.0,1.0,0.0,0.0,20.0,...,0.0,0.0,0.0,21.0,42.0,69.0,0.0,16.0,0.0,0.0
2020-03-02,3.0,0.0,29.0,14.0,0.0,1.0,19.0,0.0,0.0,24.0,...,0.0,0.0,0.0,21.0,47.0,89.0,0.0,16.0,0.0,0.0

In [4]:
all_countries = list(df.columns)

In [5]:
new_df = pd.DataFrame(columns=['Cases','Country'])

In [6]:
new_df

Empty DataFrame
Columns: [Cases, Country]
Index: []

In [7]:
for country in all_countries:
    temp_segment = pd.DataFrame(df[country])
    temp_segment.rename(columns={country:"Cases"}, inplace=True)
    temp_segment['Country']=country
    temp_segment['Date'] = temp_segment.index
    new_df = pd.concat([new_df, temp_segment], ignore_index = True)

In [10]:
new_df

        Cases   Country       Date
0         3.0   Algeria 2020-03-01
1         3.0   Algeria 2020-03-02
2         3.0   Algeria 2020-03-03
3         5.0   Algeria 2020-03-04
4        12.0   Algeria 2020-03-05
...       ...       ...        ...
17884  7508.0  Zimbabwe 2020-09-13
17885  7526.0  Zimbabwe 2020-09-14
17886  7531.0  Zimbabwe 2020-09-15
17887  7576.0  Zimbabwe 2020-09-16
17888  7598.0  Zimbabwe 2020-09-17

[17889 rows x 3 columns]

In [11]:
new_df.to_parquet('dataframe_prophet_format.parquet')