In [1]:
import pandas as pd

## Preprocessing dataframe ##

Formating, dataframe
-Legge mye av repeterende data i en egen oppslagstabell?
-Modifisere startdato

In [2]:
df_org_data = pd.read_csv('Data.csv')

In [3]:
df_org_data.head(1)

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,Algeria,Africa,28.03,1.66,25,1.9,1.83,4044.3,41318142,29,6,2019-12-31,NaN,0.0,0.0

In [4]:
df_mod = df_org_data.copy()

In [5]:
df_mod.drop(['Continent', 'Latitude', 'Longitude', 'Average temperature per year', 'Hospital beds per 1000 people', 'Medical doctors per 1000 people', 'GDP/Capita','Population', 'Median age', 'Population aged 65 and over (%)','Daily tests', 'Deaths'], axis=1, inplace=True)

In [6]:
df_mod

         Entity        Date   Cases
0       Algeria  2019-12-31     0.0
1       Algeria  2020-01-01     0.0
2       Algeria  2020-01-02     0.0
3       Algeria  2020-01-03     0.0
4       Algeria  2020-01-04     0.0
...         ...         ...     ...
20943  Zimbabwe  2020-09-14  7526.0
20944  Zimbabwe  2020-09-15  7531.0
20945  Zimbabwe  2020-09-16  7576.0
20946  Zimbabwe  2020-09-17  7598.0
20947  Zimbabwe  2020-09-18  7633.0

[20948 rows x 3 columns]

In [14]:
df_index = pd.date_range(start='3/1/2020', end='09/17/2020')

In [15]:
df_index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10',
               ...
               '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
               '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
               '2020-09-16', '2020-09-17'],
              dtype='datetime64[ns]', length=201, freq='D')

In [40]:
df_res = pd.DataFrame(columns=[], index=df_index)

In [41]:
df_res

Empty DataFrame
Columns: []
Index: [2020-03-01 00:00:00, 2020-03-02 00:00:00, 2020-03-03 00:00:00, 2020-03-04 00:00:00, 2020-03-05 00:00:00, 2020-03-06 00:00:00, 2020-03-07 00:00:00, 2020-03-08 00:00:00, 2020-03-09 00:00:00, 2020-03-10 00:00:00, 2020-03-11 00:00:00, 2020-03-12 00:00:00, 2020-03-13 00:00:00, 2020-03-14 00:00:00, 2020-03-15 00:00:00, 2020-03-16 00:00:00, 2020-03-17 00:00:00, 2020-03-18 00:00:00, 2020-03-19 00:00:00, 2020-03-20 00:00:00, 2020-03-21 00:00:00, 2020-03-22 00:00:00, 2020-03-23 00:00:00, 2020-03-24 00:00:00, 2020-03-25 00:00:00, 2020-03-26 00:00:00, 2020-03-27 00:00:00, 2020-03-28 00:00:00, 2020-03-29 00:00:00, 2020-03-30 00:00:00, 2020-03-31 00:00:00, 2020-04-01 00:00:00, 2020-04-02 00:00:00, 2020-04-03 00:00:00, 2020-04-04 00:00:00, 2020-04-05 00:00:00, 2020-04-06 00:00:00, 2020-04-07 00:00:00, 2020-04-08 00:00:00, 2020-04-09 00:00:00, 2020-04-10 00:00:00, 2020-04-11 00:00:00, 2020-04-12 00:00:00, 2020-04-13 00:00:00, 2020-04-14 00:00:00, 2020-04-15 00:00:00, 2020-04-16 00:00:00, 2020-04-17 00:00:00, 2020-04-18 00:00:00, 2020-04-19 00:00:00, 2020-04-20 00:00:00, 2020-04-21 00:00:00, 2020-04-22 00:00:00, 2020-04-23 00:00:00, 2020-04-24 00:00:00, 2020-04-25 00:00:00, 2020-04-26 00:00:00, 2020-04-27 00:00:00, 2020-04-28 00:00:00, 2020-04-29 00:00:00, 2020-04-30 00:00:00, 2020-05-01 00:00:00, 2020-05-02 00:00:00, 2020-05-03 00:00:00, 2020-05-04 00:00:00, 2020-05-05 00:00:00, 2020-05-06 00:00:00, 2020-05-07 00:00:00, 2020-05-08 00:00:00, 2020-05-09 00:00:00, 2020-05-10 00:00:00, 2020-05-11 00:00:00, 2020-05-12 00:00:00, 2020-05-13 00:00:00, 2020-05-14 00:00:00, 2020-05-15 00:00:00, 2020-05-16 00:00:00, 2020-05-17 00:00:00, 2020-05-18 00:00:00, 2020-05-19 00:00:00, 2020-05-20 00:00:00, 2020-05-21 00:00:00, 2020-05-22 00:00:00, 2020-05-23 00:00:00, 2020-05-24 00:00:00, 2020-05-25 00:00:00, 2020-05-26 00:00:00, 2020-05-27 00:00:00, 2020-05-28 00:00:00, 2020-05-29 00:00:00, 2020-05-30 00:00:00, 2020-05-31 00:00:00, 2020-06-01 00:00:00, 2020-06-02 00:00:00, 2020-06-03 00:00:00, 2020-06-04 00:00:00, 2020-06-05 00:00:00, 2020-06-06 00:00:00, 2020-06-07 00:00:00, 2020-06-08 00:00:00, ...]

[201 rows x 0 columns]

In [21]:
df_mod.set_index('Date', inplace=True)

In [22]:
df_mod.index = pd.to_datetime(df_mod.index)

In [24]:
countries = df_mod['Entity'].unique()

In [43]:
frame={}
for country in countries:
    temp_segment = df_mod[df_mod['Entity'] == country].copy()
    frame.update({country: temp_segment['Cases']})
df_new = pd.concat(frame, join='outer', axis=1)

In [46]:
df_new

,Algeria,Argentina,Australia,Austria,Bahrain,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2020-01-01,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2020-01-02,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2020-01-03,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2020-01-04,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-14,48254.0,546468.0,26651.0,33335.0,59586.0,337520.0,74173.0,95196.0,126791.0,17918.0,...,291162.0,4799.0,154335.0,79489.0,368504.0,6519979.0,1808.0,1063.0,13539.0,7526.0
2020-09-15,48496.0,555524.0,26692.0,33884.0,60307.0,339332.0,74360.0,96821.0,127619.0,18061.0,...,292878.0,4799.0,156797.0,80266.0,371125.0,6554820.0,1812.0,1063.0,13720.0,7531.0
2020-09-16,48734.0,565432.0,26738.0,34744.0,60965.0,341056.0,74552.0,97719.0,128286.0,18216.0,...,294620.0,5123.0,162660.0,80940.0,374228.0,6606293.0,1827.0,1063.0,13819.0,7576.0
2020-09-17,48966.0,577325.0,26779.0,35448.0,61643.0,342671.0,74763.0,97882.0,128872.0,18390.0,...,296391.0,5266.0,162660.0,81782.0,378219.0,6630891.0,1856.0,1063.0,13887.0,7598.0
2020-09-18,49194.0,588999.0,26813.0,36370.0,62484.0,344264.0,74987.0,97882.0,129419.0,18544.0,...,298039.0,5380.0,166244.0,82568.0,381614.0,6674458.0,1876.0,1066.0,13928.0,7633.0

In [50]:
df_jaa = df_res.join(df_new)

In [51]:
df_jaa.head(20)

,Algeria,Argentina,Australia,Austria,Bahrain,Bangladesh,Belarus,Belgium,Bolivia,Bulgaria,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
2020-03-01,3.0,NaN,26.0,10.0,41.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,21.0,42.0,69.0,NaN,16.0,NaN,NaN
2020-03-02,3.0,NaN,29.0,14.0,47.0,NaN,1.0,19.0,NaN,NaN,...,NaN,NaN,NaN,21.0,47.0,89.0,NaN,16.0,NaN,NaN
2020-03-03,NaN,NaN,33.0,18.0,NaN,NaN,NaN,38.0,NaN,NaN,...,NaN,NaN,NaN,NaN,69.0,103.0,NaN,NaN,NaN,NaN
2020-03-04,5.0,1.0,41.0,24.0,49.0,NaN,4.0,72.0,NaN,NaN,...,NaN,NaN,1.0,27.0,109.0,125.0,NaN,NaN,NaN,NaN
2020-03-05,12.0,NaN,52.0,29.0,52.0,NaN,6.0,125.0,NaN,NaN,...,NaN,NaN,NaN,NaN,164.0,159.0,NaN,NaN,NaN,NaN
2020-03-06,17.0,2.0,59.0,41.0,52.0,NaN,NaN,206.0,NaN,NaN,...,NaN,NaN,NaN,29.0,220.0,233.0,NaN,NaN,NaN,NaN
2020-03-07,NaN,8.0,63.0,74.0,56.0,NaN,NaN,316.0,NaN,NaN,...,NaN,NaN,NaN,NaN,271.0,338.0,NaN,17.0,NaN,NaN
2020-03-08,NaN,9.0,74.0,99.0,63.0,NaN,NaN,343.0,NaN,2.0,...,NaN,NaN,NaN,45.0,352.0,433.0,NaN,21.0,NaN,NaN
2020-03-09,20.0,12.0,80.0,102.0,79.0,3.0,NaN,407.0,NaN,4.0,...,NaN,NaN,NaN,NaN,412.0,554.0,NaN,30.0,NaN,NaN
2020-03-10,NaN,NaN,100.0,131.0,109.0,NaN,NaN,501.0,NaN,NaN,...,NaN,NaN,NaN,59.0,469.0,754.0,NaN,34.0,NaN,NaN
2020-03-11,NaN,19.0,112.0,182.0,110.0,NaN,9.0,600.0,NaN,NaN,...,NaN,NaN,NaN,74.0,617.0,1025.0,NaN,38.0,NaN,NaN
2020-03-12,20.0,NaN,126.0,246.0,162.0,NaN,12.0,774.0,2.0,7.0,...,1.0,NaN,NaN,NaN,876.0,1312.0,NaN,39.0,NaN,NaN
2020-03-13,25.0,31.0,156.0,361.0,162.0,NaN,21.0,1024.0,3.0,23.0,...,2.0,NaN,3.0,85.0,1282.0,1663.0,NaN,44.0,NaN,NaN
2020-03-14,26.0,34.0,197.0,504.0,210.0,NaN,NaN,1362.0,10.0,31.0,...,NaN,NaN,NaN,NaN,1766.0,2174.0,NaN,53.0,NaN,NaN
2020-03-15,37.0,45.0,249.0,655.0,211.0,3.0,NaN,1541.0,10.0,41.0,...,NaN,NaN,NaN,86.0,2244.0,2951.0,6.0,53.0,NaN,NaN
2020-03-16,48.0,56.0,298.0,860.0,214.0,NaN,27.0,1755.0,NaN,51.0,...,18.0,NaN,3.0,98.0,2605.0,3774.0,8.0,57.0,NaN,NaN
2020-03-17,58.0,65.0,375.0,1016.0,221.0,5.0,36.0,2142.0,11.0,62.0,...,47.0,NaN,5.0,98.0,3047.0,4661.0,29.0,61.0,NaN,NaN
2020-03-18,60.0,79.0,454.0,1332.0,237.0,8.0,36.0,2564.0,12.0,81.0,...,98.0,NaN,14.0,113.0,3658.0,6427.0,50.0,68.0,NaN,NaN
2020-03-19,72.0,97.0,565.0,1646.0,256.0,10.0,46.0,3098.0,12.0,92.0,...,191.0,NaN,19.0,113.0,4427.0,9415.0,79.0,76.0,2.0,NaN
2020-03-20,90.0,128.0,709.0,2196.0,269.0,10.0,57.0,3811.0,15.0,105.0,...,359.0,NaN,26.0,140.0,5426.0,14250.0,94.0,87.0,2.0,NaN

In [52]:
df_jaa.to_csv('midlertidg_data.csv')

Removing and interpolation of nan/zero values

Data transformation